body {
    margin: 0px;
}

@font-face {
    font-family: 'Bona Nova';
    src: url('https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap');
    font-weight: normal;
    font-style: normal;
}


/* header {
    background-color: black;
} */


/* 기본 세팅 끝 :) 본문 시작 -------------------------------- */

.section1 {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.backgroundimg {
    z-index: -9;
    display: flex;
    position: fixed;
    width: 100%;
    height: 90vh;
}

.maincontents {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
    margin-top: 10vh;
    /* border: blue 2px solid; */
}

.circularimg {
    display: flex;
    position: relative;
    left: -100px;
    top: -30px;
    /* border: slateblue solid 2px; */
}

.circularimg>img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
}


/* 이미지 끝, 텍스트 시작 --------------- */

.titletext {
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
    text-align: right;
    font-family: 'Bona Nova';
    width: 500px;
    height: 250px;
    color: white;
    right: -50px;
    line-height: 60px;
    z-index: 100;
    /* border: purple 2px solid; */
}

.text1 {
    display: flex;
    text-align: right;
    margin: 0px;
    font-size: 30px;
    font-weight: 400;
    /* border: salmon 2px solid; */
}

.text2 {
    display: flex;
    text-align: right;
    margin: 0px;
    font-size: 35px;
    font-weight: 500;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    /* border: green 2px solid; */
}

.text3 {
    display: flex;
    text-align: right;
    margin: 0px;
    margin-top: 24px;
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(transparent calc(100% - 3px), #000 3px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 1s;
    /* border: turquoise 2px solid; */
}

.text3>span {
    color: goldenrod;
}

.text3:hover {
    background-size: 100% 100%;
    background-image: linear-gradient(transparent 60%, goldenrod 40%);
}

.text3:hover span {
    cursor: pointer;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}


/* section 1 끝 / section 2 시작 ------------------------------------------ */

.box {
    height: 100vh;
    width: 100%;
}


/* section 2 ------------------------------------------------------- */

.section2 {
    display: flex;
    position: relative;
    background-color: black;
    border-top: goldenrod double 5px;
    border-bottom: goldenrod double 5px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 110vh;
}

.outlinewrap {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    height: 350px;
    /* border: red 2px solid; */
    font-family: 'Bona Nova';
}

.maintitle {
    display: flex;
    position: relative;
    font-size: 17px;
    font-weight: 600;
    /* border: springgreen 2px solid; */
    top: 10px;
}

.maincontents2 {
    display: flex;
    position: relative;
    width: 250px;
    height: 130px;
    font-size: 14px;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    margin: 0px;
    line-height: 1.2rem;
}

.leftbox {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    box-shadow: 10px 10px 40px rgb(68, 68, 68), -10px -10px 40px rgb(68, 68, 68), -10px 10px 40px rgb(68, 68, 68), 10px -10px 40px rgb(68, 68, 68);
    border-radius: 20%;
    background-color: black;
    color: white;
    width: 270px;
    height: 350px;
}

.centerbox {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    box-shadow: 10px 10px 40px rgb(68, 68, 68), -10px -10px 40px rgb(68, 68, 68), -10px 10px 40px rgb(68, 68, 68), 10px -10px 40px rgb(68, 68, 68);
    border-radius: 20%;
    background-color: black;
    color: white;
    width: 270px;
    height: 350px;
}

.rightbox {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    border-radius: 20%;
    background-color: black;
    box-shadow: 10px 10px 40px rgb(68, 68, 68), -10px -10px 40px rgb(68, 68, 68), -10px 10px 40px rgb(68, 68, 68), 10px -10px 40px rgb(68, 68, 68);
    color: white;
    width: 270px;
    height: 350px;
}


/* section 2 끝/ section 3 시작 --------------------------- */

.section3 {
    display: flex;
    position: relative;
    border-top: goldenrod double 5px;
    /* border-bottom: white double 5px; */
    background: black;
    width: 100%;
    height: 110vh;
    justify-content: center;
    align-items: center;
}

.lightblubimg {
    display: flex;
    position: relative;
    object-fit: cover;
    opacity: 0.5;
    width: 600px;
    height: 600px;
    /* left: -450px;
    bottom: -80px; */
    /* border: blue 2px solid; */
}

.textwrap {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    /* background-color: black; */
    /* border: tomato 2px solid; */
}

.inlinetextwrap {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 870px;
    height: 300px;
    right: -10px;
    /* border: turquoise 2px solid; */
}

.lefttextbox {
    display: flex;
    position: relative;
    font-family: 'Bona Nova';
    font-size: 55px;
    font-weight: 600;
    color: white;
    /* border: thistle 2px solid; */
}

.textscroll {
    margin: auto;
    font-size: 70px;
    font-weight: bolder;
    height: 1.2em;
    line-height: 1.2em;
    overflow: hidden;
    /* border: red 2px solid; */
}

.whatIlike_ul {
    margin-top: 0;
    animation-name: Textrolling;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    text-align: right;
}

.whatIlike_txt {
    list-style-type: none;
    color: black;
    text-shadow: -1px 0 goldenrod, 0 1px goldenrod, 1px 0 goldenrod, 0 -1px goldenrod;
}

.righttextbox {
    display: flex;
    position: relative;
    font-family: 'Bona Nova';
    font-size: 55px;
    font-weight: 600;
    color: white;
    /* border: thistle 2px solid; */
}


/* CSS Animation --------------------------------------- */

@keyframes Textrolling {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-20%);
    }
    40% {
        transform: translateY(-40%);
    }
    60% {
        transform: translateY(-60%);
    }
    80% {
        transform: translateY(-80%);
    }
    100% {
        transform: translateY(-100%);
    }
}