body {
    margin: 0px;
}

@font-face {
    font-family: 'Bona Nova';
    src: url('https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap');
    font-weight: normal;
    font-style: normal;
}


/* header {
    background-color: black;
} */


/* 기본 세팅 끝 :) 본문 시작 -------------------------------- */

.section1 {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.backgroundimg {
    z-index: -9;
    display: flex;
    position: fixed;
    width: 100%;
    height: 90vh;
}

.maincontents {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
    margin-top: 10vh;
    /* border: blue 2px solid; */
}

.circularimg {
    display: flex;
    position: relative;
    left: -100px;
    top: -30px;
    /* border: slateblue solid 2px; */
}

.circularimg>img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
}


/* 이미지 끝, 텍스트 시작 --------------- */

.titletext {
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
    text-align: right;
    font-family: 'Bona Nova';
    width: 500px;
    height: 250px;
    color: white;
    right: -50px;
    line-height: 60px;
    z-index: 100;
    /* border: purple 2px solid; */
}

.text1 {
    display: flex;
    text-align: right;
    margin: 0px;
    font-size: 30px;
    font-weight: 400;
    /* border: salmon 2px solid; */
}

.text2 {
    display: flex;
    text-align: right;
    margin: 0px;
    font-size: 35px;
    font-weight: 500;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    /* border: green 2px solid; */
}

.text3 {
    display: flex;
    text-align: right;
    margin: 0px;
    margin-top: 24px;
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(transparent calc(100% - 3px), #000 3px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 1s;
    /* border: turquoise 2px solid; */
}

.text3>span {
    color: goldenrod;
}

.text3:hover {
    background-size: 100% 100%;
    background-image: linear-gradient(transparent 60%, goldenrod 40%);
}

.text3:hover span {
    cursor: pointer;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}


/* section 1 끝 / section 2 시작 ------------------------------------------ */

.box {
    height: 100vh;
    width: 100%;
}


/* section 2 ------------------------------------------------------- */

.section2 {
    display: flex;
    position: relative;
    border-top: white double 5px;
    border-bottom: white double 5px;
    background-color: rgb(2, 5, 19);
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.lightblubimg {
    border: blue 2px solid;
    display: flex;
    /* position: fixed; */
    width: 720px;
    height: 720px;
    opacity: 0.5;
}

.section3 {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: goldenrod;
}