body {
    margin: 0;
    background-color: black;
}

@font-face {
    font-family: 'Bona Nova';
    src: url('https://fonts.googleapis.com/css2?family=Bona+Nova&display=swap');
    font-weight: normal;
    font-style: normal;
}


/* header 속성 변환 -------------------------------------- */

.header-btns :hover {
    color: black;
    transform: scale(1.1);
    background-color: rgba(218, 165, 32, 0.836);
}


/* section1 ------------------------------------------------ */

.section1 {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 8vh;
    justify-content: center;
    z-index: 1;
}


/* section 1 자식요소 -1 / img------------------------------------ */

.fixed_img {
    display: flex;
    position: absolute;
    width: 50%;
    height: 100vh;
    left: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blackimg {
    display: flex;
    position: relative;
    width: 500px;
    height: 500px;
    bottom: 20px;
}

.blackimg>img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.decoyellowcircles {
    display: flex;
    position: absolute;
    right: 0px;
    bottom: 18vh;
}

.decoyellowcircles>img {
    width: 350px;
    height: 100px;
}

.backgroundbox {
    display: flex;
    position: absolute;
    left: 100px;
    top: 20px;
    z-index: -1;
}

.backgroundbox>img {
    width: 200px;
    height: 200px;
}


/* section 1 자식요소 - 2 / moto ------------------------------- */

.motowrap {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 92vh;
    right: 0px;
}

.insidemotowrap {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 550px;
    height: 250px;
    background-color: #396873;
}

.my_moto {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 550px;
    height: 60px;
    top: 8px;
    /* border: red 2px solid; */
}

.my_moto>p {
    margin: 0;
    font-size: 53px;
    font-family: 'Bona Nova';
    font-weight: 600;
    color: white;
}

.my_moto :hover {
    cursor: pointer;
    transform: scale(1.1);
    background-size: 100% 100%;
    background-image: linear-gradient(transparent 70%, #263959 40%);
}

.motodescription {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: flex-start;
    width: 550px;
    height: 140px;
    /* border: palevioletred 2px solid; */
}

.motodescription>p {
    width: 400px;
    margin: 0px;
    font-size: 14px;
    font-family: 'Bona Nova';
    font-weight: 200;
    color: white;
    /* border: deeppink 2px solid; */
}


/* white box ----------------------------------------------*/

.white_box {
    display: flex;
    height: 100vh;
    width: 47%;
    z-index: 99;
}


/* section 2 ----------------------------------------------- */

.section2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47%;
    height: 100vh;
    padding-left: 53%;
    z-index: 99;
}

.yellow-panel {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: goldenrod;
}

.textbox {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: start;
    width: 100%;
    height: 100vh;
    font-family: 'Bona Nova';
}

.texttitle {
    display: flex;
    font-size: 50px;
    position: relative;
    align-items: center;
    font-style: italic;
    font-weight: 600;
    text-shadow: 4px -2px rgba(0, 0, 0, 0.548);
    color: rgba(0, 0, 0, 0.815);
    width: 380px;
    height: 100px;
    left: 16px;
    /* border: blueviolet 2px solid; */
}

.textwrap {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 380px;
    height: 150px;
    font-size: 20px;
    line-height: 40px;
    left: 20px;
    /* border: springgreen 2px solid; */
}

.lefttextbox {
    display: flex;
    width: 100px;
    height: 150px;
    /* border: plum 2px solid; */
}

.lefttextbox>ul {
    list-style: none;
    padding-left: 0px;
    font-weight: 700;
}

.detailinfobox {
    display: flex;
    width: 280px;
    height: 150px;
    color: rgba(0, 0, 0, 0.452);
    /* border: blue 2px solid; */
}

.instagramtext {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.514);
}

.detailinfobox>ul {
    list-style: none;
    padding-left: 0px;
    font-style: italic;
}

.detailinfobox>ul :hover {
    cursor: pointer;
    color: black;
    font-weight: 600;
}